<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Lesson number 2</h2>
            <hr>
            <app-server-farm></app-server-farm>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>Lesson number 1</h2>
            <hr>
            <h3>This is my Warning Alert Component</h3>
            <app-warning-alert></app-warning-alert>
            <app-warning-alert></app-warning-alert>
            <app-warning-alert></app-warning-alert>
            <hr>
            <h3>This is my Success Alert Component</h3>
            <app-success-alert></app-success-alert>
        </div>
    </div>
</div>